[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

.vs/
.vscode/
.idea/
*.csproj.user
*.sln.DotSettings.user
*.suo
*.userosscache
*.sln.docstates

*.swp
*.*~

*.db
*.db-shm
*.db-wal
*.vsidx
*.sqlite

/Thunderstore/build/

bin/**/*.dll
!bin/**/FirstPersonView.dll
Plugin/**/*.dll
!Plugin/**/FirstPersonView.dll
Thunderstore/*.dll

nupkg/

/Properties/
UpgradeLog.htm

*.nuget.g.props
*.nuget.g.targets
*.nuget.dgspec.json
project.assets.json
project.nuget.cache